@font-face {
  font-family: 'Pt-serif';
  src: url("../fonts/pt-serif-regular.woff2") format("woff2"), url("../fonts/pt-serif-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Pt-serif-bold';
  src: url("../fonts/pt-serif-bold.woff2") format("woff2"), url("../fonts/pt-serif-bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

ont-face {
  font-family: 'poppins';
  src: url("../fonts/poppins-bold.woff2") format("woff2"), url("../fonts/poppins-bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Poppins';
  src: url("../fonts/poppins-regular.woff2") format("woff2"), url("../fonts/poppins-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Monserrat-bold';
  src: url("../fonts/monserrat-bold.woff2") format("woff2"), url("../fonts/monserrat-bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

body {
  background-color: #FAFAFA;
  font-family: 'Poppins'; }

ul {
  list-style: none;
  padding: 0; }

a {
  display: block;
  text-decoration: none; }

.container {
  padding-inline-start: 12px;
  padding-inline-end: 12px; }

@media (min-width: 1114px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-block-start: calc(110px - calc(38px / 2));
    column-gap: 215px;
    padding-inline-end: 0;
    padding-inline-start: 0; }
  .container {
    max-width: 1114px;
    margin: auto; } }

:root {
  --default-color: #000000; }

h1 {
  margin: 0;
  padding-block-end: calc(38px / 2);
  padding-block-start: calc(38px / 2); }
  h1 a {
    font-family: 'Pt-serif-bold';
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -0.045em;
    color: var(--default-color); }

h2 {
  font-family: 'poppins';
  font-size: 18px;
  font-weight: bold;
  line-height: 27px;
  text-transform: uppercase;
  color: var(--default-color);
  padding-block-end: 10px;
  padding-block-start: calc(38px / 2);
  margin: 0; }

.introduction_paragraph {
  font-size: 14px;
  line-height: 21px;
  color: var(--default-color); }

@media (min-width: 1114px) {
  .introduction_paragraph {
    font-size: 18px;
    line-height: 27px; } }
